@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@theme {
  --color-primary: #5c1616;
  --color-primary-hover: #400f0f;
  --color-primary-light: #fdf5f5;
  --color-accent: #16A34A;
  --color-accent-light: #DCFCE7;
  --font-heading: "Inter", sans-serif;
  --font-body: "Inter", sans-serif;
  --font-button: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  color: #1A1A1A;
  background-color: #FAF9F6;
}

b, strong {
  font-weight: 600;
}


