---
import '../styles/global.css';
import Toast from '../components/Toast.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="id">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Ballqish Shoes - The Best Quality" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-[#FAF9F6] text-gray-900 min-h-screen flex flex-col antialiased">
		<slot />
		<Toast />
	</body>
</html>

<script>
  declare global {
    interface Window {
      showToast: (message: string, type?: 'success' | 'error' | 'info') => void;
    }
  }
</script>
